

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  background-color: whitesmoke
}
.App {
  margin: 20px;
  padding: 30px;
}
#main {
  padding:20px;
  position: relative;
}
.title {
  display: inline-block;
}
.bigtitle {
  text-align: center;
  text-decoration: underline;
}
.button {
  position: relative;
  display: inline-block;
  padding: 15px;
}
.titles{
  color:black;
  text-decoration: none;
}
.songImage{
  height: 500px;
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.songImage:hover
{
    cursor: default;
    transform: rotate(1080deg);
    transition: all 3s ease-in-out 0s;
}
.songTitle{
  padding: 20px;
  text-align:center;
}
#detailPlay{
  position:absolute;
  left: 48%;
}
.description{
  text-align: center;
  font-size: 20px;
  padding: 60px;
}
.player{ 
  position: relative;
  display: inline-block;
  border: 1px solid black;
  border-radius: 8px
}
.status { 
  position: relative;
  display: inline-block;
  padding: 15px;
}


